# sslmode=require (Standard SSL connection, verify the server certificate(Aiven default) but prisma may fail)
# sslmode=no-verify (SSL connection without server certificate verification, prisma compatible but less secure)
# sslmode=verify-ca (Maximum security, prisma compatible but requires you to provide the ca.pem file from Aiven)
# for using both prisma studio and prisma client, use sslmode=no-verify in development other wise prisma studio might throw error. 


DATABASE_URL="postgresql://username:password@host:port/dbname?sslmode=no-verify"
JWT_SECRET="your-secret-key"